// Fonts
$font-family-sans-serif:      Montserrat, Geometria, Arial, sans-serif;
$font-family-base:            $font-family-sans-serif;

// Colors
$color-primary:        #1c2138;
$color-primary-hover:  #2a335a;
$color-primary-active: #151829;
$color-secondary:      #184462;

// Body
$color-body: #121212;
$color-select-hover: #e3f4ff;

// sizes

$header-height: 85px;
$header-md-height: 55px;

$section-padding-bottom:           5rem;
$section-title-margin-bottom:      2rem;
$section-cell-padding-left:        10px;
$section-cell-margin-bottom:       2rem;

$section-md-padding-bottom:        2.5rem;
$section-md-title-margin-bottom:   1.5rem;
$section-md-cell-padding-left:     10px;
$section-md-cell-margin-bottom:    1.25rem;

$section-sm-padding-bottom:        2.5rem;
$section-sm-title-margin-bottom:   1.5rem;
$section-sm-cell-padding-left:     10px;
$section-sm-cell-margin-bottom:    1.25rem;

$page-home-title-height:           100vh;
$page-home-title-md-height:        100vh;
$page-home-title-sm-height:        500px;

$page-catalog-title-height:        400px;
$page-catalog-title-md-height:     400px;
$page-catalog-title-sm-height:     400px;

$form-control-padding-top-bottom:     1rem;
$form-control-md-padding-top-bottom:  .375rem;