button, [type=button], [type=reset], [type=submit] {-webkit-appearance: none;}

.btn {border-radius: 0;}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus,
.btn:focus,
.btn.focus,
.btn-outline-primary:focus,
.btn-outline-primary.focus {box-shadow: none !important; outline: 0 !important;}