footer {
  background-color: var(--dark);
  color: var(--white);
  padding: 0 30px;
  h2 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0 36px 8px 0;
  }
  a {
    color: var(--white);
    text-decoration: none;
    &:hover,
    &:active {
      color: var(--orange);
    }
  }
}
