footer {
  .call {
    display: flex;
    justify-content: flex-end;
    div {
      margin-top: -3px;
    }
    a {
      font-size: 1.5625rem;
      font-weight: 700;
      display: block;
      &:first-child {
        margin-bottom: 18px;
      }
    }
    @media screen and (max-width: 992px) {
      justify-content: flex-start;
      a {
        display: inline-block;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      h2 {
        margin-bottom: 18px;
      }
      a {
        display: block;
        margin-right: 0;
      }
    }
  }
}
