// Normalize
@import 'base/normalize';
@include normalize();

// Prolog
@import 'variables';
@import 'mixins';

// Base styles
@import 'base/footer-sticky';
@import 'base/buttons';
@import 'base/forms';
@import 'base/typo';

// Header styles

// Footer styles

// Section styles

// Block styles