#devices_title{font-size:22px;margin-bottom:20px}
.div_oper{color:#a74dad;font-size:22px;}
.device_table{margin-bottom:20px}
.oper_name{font-size:22px;margin:10px 0px;text-decoration:underline;text-align:center}
.device_table{width:100%}
.std{width:55px}
.tariff-detail.module{margin-top:40px}
