.form--select {position: relative; padding: .3125rem; background-color: white; border: 1px solid #121212;
    &.select-active {
        .select-title {
            &::before {transform: translate(-3px, -50%) rotate(-45deg);}
            &::after {transform: translate(1.5px, -50%) rotate(45deg);}
        }

        .select-content {display: block;}
    }

    .select-title {display: flex; align-items: center; width: 100%; height: 100%; padding-right: 15px; white-space: nowrap; cursor: pointer;
        &::before, &::after {position: absolute; top: 50%; right: 7px; display: block; width: 6px; height: 1.5px; content: ""; background-color: gray; transform: translate(-3px, -50%) rotate(45deg); transition: all 0.3s ease-out;}
        &::after {transform: translate(1.5px, -50%) rotate(-45deg);}

        & > span {overflow: hidden;}
    }

    .select-content {display: none; position: absolute; top: 100%; left: -1px; min-width: 100%; box-sizing: content-box; overflow: hidden; background-color: white; border: 1px solid #121212; z-index: 1; transition: all 0.3s ease-out;
        &.content-size-5 {max-height: (.125rem + 1.2 * 1rem) * 5; overflow-y: auto;}

        input {display: none;
            &:checked + label {background-color: #121212; color: white;}
            &:disabled + label {opacity: 0.6; pointer-events: none;}
            &.option-hide + label {display: none; pointer-events: none;}
        }

        label {display: flex; align-items: center; width: 100%; line-height: 1.2; box-sizing: border-box; padding: .125rem .3125rem; overflow: hidden; cursor: pointer;
            &:hover {background-color: #e3f4ff;}
        }
    }
}